<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Welcome to Our Coding Community</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; margin: 0; padding: 0;">

<img src="{{headerImageUrl}}" alt="Welcome Header" style="display: block; margin: 0 auto; width: 100%; max-width: 600px;">

<div style="max-width: 600px; margin: 20px auto; background-color: #ffffff; padding: 20px; border-radius: 5px; box-shadow: 0px 0px 10px rgba(0,0,0,0.1);">

    <h1>Hello {{firstName}},</h1>

    <p>Welcome to our coding community! We're excited to have you on board! </p>

    <p>If you have any questions or need assistance, feel free to reply to this email. We're here to help!</p>

    <p>Best Regards,<br>gRPC Course!</p>

    <p style="font-size: 12px; color: #999;">This is a once off welcome email. You can <a href="{{unsubscribeUrl}}" style="color: #007bff; text-decoration: underline;">unsubscribe</a> from our marketing emails at any time.</p>
</div>

</body>
</html>